<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">successful operation</h4>
    <p>Operation Is successful</p>
    <hr>
    <p class="mb-0"> @Message</p>
</div>

@code {
    [Parameter]
    public string Message { get; set; }
}

