<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">OOps We Have Error</h4>
    <p>Operation has been Not succeffly</p>
    <hr>
    <p class="mb-0"> @Message</p>
</div>

@code {
    [Parameter]
    public string Message { get; set; }
}

