@inherits LayoutComponentBase
@using Client.Services.Foundations.LocalStorageService;
@using System.Security.Claims;
<div class="page">
    <div class="sidebar" style="height:1000px;">
        <NavMenu />
    </div>


      <main>
          <AuthorizeView>

            <Authorized>
                
                
               
        <div class="top-row px-4">
                    <NavLink class="nav-link" Match="NavLinkMatch.All">
                        @context.User?.FindFirst(ClaimTypes.Name)?.Value
                    </NavLink>
            <NavLink class="nav-link" href="/Login/Home" Match="NavLinkMatch.All">
                <button class="btn btn-danger" @onclick="Logout">log out</button>
            </NavLink>   <a href="https://docs.microsoft.com/aspnet/" target="_blank"></a>
        </div>
              
        </Authorized>
</AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    [Inject]
    public ILocalStorageServices localStorages { get; set; }
    public async Task Logout()
    {
        await this.localStorages.RemoveItemAsync("JwtLocalStorage");
    }
}