@using System.Security.Claims
@inherits NavMenuBase


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" >
    @if(IsLoding==true){
        <Client.Pages.WaitComponent></Client.Pages.WaitComponent>
    }
    <nav class="flex-column" >
        <AuthorizeView>

            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link"  Match="NavLinkMatch.All">
                     @context.User?.FindFirst(ClaimTypes.Name)?.Value
            </NavLink>
        </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Homes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Doctor
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Planing Medical
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="ADMIN,MEDECIN" >

            <Authorized>
                    <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All">
                        List Patient
                        </NavLink>
                    </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/InvitationWork" Match="NavLinkMatch.All">
                        Notification
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/JobsDoctor" Match="NavLinkMatch.All">
                        Job Doctor
                    </NavLink>
                </div>
               
        
       </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="ADMIN" >

            <Authorized>
                <div class="nav-item px-3" >
                    <NavLink href="/InformationCabinetMedical" class="nav-link" Match="NavLinkMatch.All">
                        About  clinic
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/AddDoctor" Match="NavLinkMatch.All">
                       Add Doctor
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All">
                        List Doctor
                    </NavLink>
                </div>
               
            </Authorized>
        </AuthorizeView>


        <AuthorizeView>

            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Login/Home" Match="NavLinkMatch.All">
                         <button class="btn btn-danger" @onclick="Logout">log out</button>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
            
    
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
