@using Client.Services.Foundations.AuthentificationStatService
@using System.Security.Claims;
@inherits LayoutComponentBase

<div class="page">

<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient " style="">
            <div class="container-fluid justify-content-sm-between">
                
                   
                          <a class="navbar-brand">ALiaMed</a>
                    <form class="d-flex">
                @if(EmailUser != null){
                    <p class="text-black">@EmailUser</p>
                }else{
                        <a href="/SignIn"> <button class="btn btn-outline-success" type="submit">Sign In</button>&nbsp;</a>
                            <a href="/Login/Home"><button class="btn btn-outline-primary" type="submit">Login</button></a>
                }
               

                  
                </form>
                   
               
              
            </div>
</nav>
</header>

    @Body
    </div>

    @code{
    protected string EmailUser = null;
    [Inject]
    public AuthentificationStatService AuthentificationStatService { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var UserStat = await this.AuthentificationStatService.GetAuthenticationStateAsync();
        if (UserStat.User.Identity?.IsAuthenticated ?? false)
        {
            this.EmailUser = UserStat.User.FindFirst(ClaimTypes.Name).Value;
        }


    }
    }
